@charset "UTF-8";

.fileinput-button input {
    position: absolute;
    opacity: 0;
}
.fileinput-button span {
    display: inline;
}
.fileinput-button i,
.fileupload-buttonbar .delete,
.fileupload-buttonbar .toggle {
    display: inline-block;
}

.overlay-btn {
    position: absolute;
    top: 0px;
    left: 17px;
    width: 24px;
    height: 24px;
    background: white;
    padding-top: 3px;
    border: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    opacity: 0.95;
    z-index: 2;
}
