<div class="form-group control-group" id="cg_f_{{info.name}}">
    <label for="f_{{info.name}}" class="col-sm-3 control-label">{{info.label || (info.name | titleCase)}}</label>

    <div class="bs3-input col-sm-9 row-fluid">
        <div class="col-xs-12 span12 fileupload-form">
            <div class="fileupload" method="POST" enctype="multipart/form-data" data-ng-app="demo"
                 data-file-upload="directiveOptions" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                <div class="controls">
                    <div class="row fileupload-buttonbar">
                        <!-- The min-height is needed to ensure that the div doesn't collapse, and then the mouseIn stuff doesn't work-->
                        <div class="col-md-7 span7" style="min-height: 60px;">
                            <div data-ng-show="directiveOptions.single && queue.length === 0" class="pull-left">
                                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                    <i class="glyphicon glyphicon-plus icon icon-plus"></i>
                                    <span>Upload {{info.label || (info.name | titleCase)}}</span>
                                    <input type="file" name="files" ng-disabled="disabled">
                                </span>
                            </div>
                            <div data-ng-show="directiveOptions.single" class="pull-left">
                                <div class="preview" ng-show="!!queue[0].thumbnailUrl">
                                    <a data-ng-href="{{queue[0].url}}" title="{{queue[0].name}}" download="{{queue[0].name}}" target="_blank" data-gallery ng-mouseover="mouseIn=1" ng-mouseout="mouseIn=0">
                                        <img data-ng-src="{{queue[0].thumbnailUrl}}" alt="" width="{{ options.width || 80 }}" height="{{ options.height || 60 }}">
                                    </a>
                                </div>
                            </div>
                            <div data-ng-show="directiveOptions.single" class="pull-left file-delete-div">
                                <button ng-show="mouseIn" class="file-delete overlay-btn" aria-label="Delete" ng-mouseover="mouseIn=1" data-ng-click="queue[0].$destroy()">
                                    <i class="glyphicon glyphicon-trash icon icon-trash"></i>
                                </button>
                            </div>
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span data-ng-hide="directiveOptions.single">
                                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                    <i class="glyphicon glyphicon-plus icon icon-plus"></i>
                                    <span>Add files...</span>
                                    <input type="file" name="files" multiple ng-disabled="disabled">
                                </span>
                            </span>
                            <button type="button" data-ng-hide="directiveOptions.autoupload" class="btn btn-primary start" data-ng-click="submit()">
                                <i class="glyphicon glyphicon-upload icon icon-upload"></i>
                                <span>Start upload</span>
                            </button>
                            <button ng-show="active()" type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                                <i class="glyphicon glyphicon-ban icon-circle icon-ban-circle"></i>
                                <span>Cancel upload</span>
                            </button>
                            <!-- The global file processing state -->
                            <span class="fileupload-process"></span>
                        </div>
                        <!-- The global progress state -->
                        <div class="col-md-5 span5 fade" data-ng-class="{in: active()}">
                            <!-- The global progress bar -->
                            <div class="progress progress-striped active" data-file-upload-progress="progress()">
                                <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                            </div>
                            <!-- The extended global progress state -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <table data-ng-hide="directiveOptions.single" class="table table-striped files ng-cloak">
                        <tr data-ng-repeat="file in queue">
                            <td data-ng-switch data-on="!!file.thumbnailUrl">
                                <div class="preview" data-ng-switch-when="true">
                                    <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}"
                                       target="_blank" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt="" width="80" height="60"></a>
                                </div>
                                <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                            </td>
                            <td>
                                <p class="name" data-ng-switch data-on="!!file.url">
                                    <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                        <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}"
                                           download="{{file.name}}" target="_blank" data-gallery>{{file.name}}</a>
                                        <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}"
                                           download="{{file.name}}">{{file.name}}</a>
                                    </span>
                                    <span data-ng-switch-default>{{file.name}}</span>
                                </p>
                                <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                            </td>
                            <td>
                                <p class="size">{{file.size | formatFileSize}}</p>

                                <div class="progress progress-striped active fade"
                                     data-ng-class="{pending: 'in'}[file.$state()]"
                                     data-file-upload-progress="file.$progress()">
                                    <div class="progress-bar progress-bar-success"
                                         data-ng-style="{width: num + '%'}"></div>
                                </div>
                            </td>
                            <td ng-show="directiveOptions.additFields">
                                <fng-upload-addit-fields file="{{$index}}"></fng-upload-addit-fields>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()"
                                        data-ng-hide="!file.$submit || directiveOptions.autoupload"
                                        data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                    <i class="glyphicon glyphicon-upload icon icon-upload"></i>
                                    <span>Start</span>
                                </button>
                                <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()"
                                        data-ng-hide="!file.$cancel">
                                    <i class="glyphicon glyphicon-ban-circle icon icon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>
                                <button type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()"
                                        data-ng-hide="!file.$destroy" data-ng-controller="FileDestroyController">
                                    <i class="glyphicon glyphicon-trash icon icon-trash"></i>
                                    <span>Delete</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">-->
    <!--<div class="slides"></div>-->
    <!--<h3 class="title"></h3>-->
    <!--<a class="prev">‹</a>-->
    <!--<a class="next">›</a>-->
    <!--<a class="close">×</a>-->
    <!--<a class="play-pause"></a>-->
    <!--<ol class="indicator"></ol>-->
<!--</div>-->